<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>
    <header class="masthead" style="background-image: url('./img/search.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h2 style="font-size: 7vh;">Kết quả tìm kiếm</h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>
    
                    <hr>
                <% for (var i=0 ;i<filteredRecipes.length;i++) { %>
                    <div class="post-preview">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="/recipe/<%=filteredRecipes[i].id %>">
                                    <img src="<%=filteredRecipes[i].image %>" class="img-fluid" alt="Recipe Image">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <a href="/recipe/<%=filteredRecipes[i].id %>">
                                    <h2 class="post-title">
                                        <%= filteredRecipes[i].name %> 
                                    </h2>
                                    <h6 class="post-subtitle" style="font-weight:200;">
                                        <%= filteredRecipes[i].description %>
                                    </h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <% } %>
               </div>
            
    </body>
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
</html>
